*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f9fafb;
    color:#0f172a;
}

/* CONTAINER */
.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

/* HEADER */
header{
    background:linear-gradient(90deg,#7f00ff,#e100ff);
    position:sticky;
    top:0;
    z-index:1000;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
}

.logo{
    color:white;
    font-size:24px;
}
.logo span{
    color:#ffd700;
}

.nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

/* BUTTON */
.btn{
    background:linear-gradient(45deg,#00c6ff,#0072ff);
    padding:8px 18px;
    border-radius:20px;
    color:white;
}

/* HERO */
.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    background:linear-gradient(120deg,#fdfbfb,#ebedee);
}

.hero-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.hero img{
    width:280px;
    border-radius:50%;
    border:6px solid transparent;
    background:linear-gradient(45deg,#ff512f,#dd2476,#24c6dc);
    padding:5px;
}

.hero span{
    background:linear-gradient(45deg,#ff512f,#dd2476);
    -webkit-background-clip:text;
    color:transparent;
}

/* SECTIONS */
section{
    padding:70px 0;
}

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:30px;
}

/* ABOUT */
.text{
    max-width:700px;
    margin:auto;
    text-align:center;
}

/* SKILLS */
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.skills-grid div{
    padding:18px;
    border-radius:15px;
    text-align:center;
    font-weight:600;
    color:white;
    background:linear-gradient(45deg,#36d1dc,#5b86e5);
}

/* PROJECTS */
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    padding:30px;
    border-radius:20px;
    color:white;
    font-weight:600;
    text-align:center;
    background:linear-gradient(135deg,#ff512f,#f09819);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* CONTACT */
.contact-box{
    background:linear-gradient(135deg,#00c6ff,#0072ff);
    color:white;
    padding:40px;
    border-radius:25px;
    text-align:center;
}

/* FOOTER */
footer{
    text-align:center;
    padding:15px;
    background:#020617;
    color:white;
}
